@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
:root{
    --prim: #3941bb;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #090f1b;
    color: #fff;
}
p{
    font-family: 'rubik', sans-serif;
}
h1, h2, h3, h4{
    font-family: 'inter', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: 'rubik', sans-serif;
}
button{
    font-family: 'rubik', sans-serif;
    background-color: transparent;
    border: none;
}

header{
    border-bottom: 2px solid #2b3758;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    text-transform: uppercase;
    font-size: 25px;
}
.blue{
    color: var(--prim);
}
.links{
    font-size: 20px;
}
.links ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.links ul li a{
    padding: 7px 0;
}
.pesquisar{
    font-size: 25px;
    cursor: pointer;
}
.menu-btn{
    padding: 5px;
    display: none;
}
.menu-btn div{
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}
.banner-sec{
    background: url(../imgs/banner.jpg) no-repeat center left;
    background-size: cover;
    height: 550px;
    display: flex;
    align-items: end;
    justify-content: baseline;
}
.container-ban{
    margin-bottom: 100px;
    margin-left: 50px;
}
.container-ban h3{
    font-size: 40px;
}
.container-ban .sobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.container-ban .sobre .duracao{
    padding: 5px;
    background-color: var(--prim);
    border-radius: 5px;
}
.ver-agora{
    padding: 15px 30px;
    border: 3px solid var(--prim);
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
}
.ver-agora:hover{
    background: var(--prim);
    color: #fff;
    opacity: 0.85;
}
.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    margin: 50px 0;
    flex-wrap: wrap;
}
.categorias button{
    background-color: #2b3758;
    padding: 5px 20px;
    border-radius: 7px;
    font-size: 20px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
.categorias button:hover{
    opacity: 0.8;    
}
.filmes-sec h2{
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
}
.filmes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.filmes .card{
    height: 250px;
    width: 170px;
    margin-top: 30px;
    border-radius: 10px;
    background-size: cover;
    transition: 0.4s;
    cursor: pointer;
}
.filmes .card:hover{
    transform: scale(1.1);
}
#f1{
    background: url(../imgs/filmes/1.jpg) top center;
}
#f2{
    background: url(../imgs/filmes/2.webp) center bottom;
}
#f3{
    background: url(../imgs/filmes/3.webp) center top;
}
#f4{
    background: url(../imgs/filmes/4.jpg) center;
}
#f5{
    background: url(../imgs/filmes/5.jpg) center bottom;
}
#f6{
    background: url(../imgs/filmes/6.jpg) center bottom;
}
#f7{
    background: url(../imgs/filmes/7.jpg) center top;
}
#f8{
    background: url(../imgs/filmes/8.jpg) center bottom;
}
#f9{
    background: url(../imgs/filmes/9.webp) center bottom;
}
#f10{
    background: url(../imgs/filmes/10.jpg) center top;
}
#f11{
    background: url(../imgs/filmes/11.jpg) center bottom;
}
#f12{
    background: url(../imgs/filmes/12.jpg) center top;
}
#f13{
    background: url(../imgs/filmes/13.webp) center top;
}
#f14{
    background: url(../imgs/filmes/14.webp) center bottom;
}
#f15{
    background: url(../imgs/filmes/15.jpg) center top;
}
#f16{
    background: url(../imgs/filmes/16.jpg) center bottom;
}
#f17{
    background: url(../imgs/filmes/17.webp) center top;
}
#f18{
    background: url(../imgs/filmes/18.jpg) center top;
}
#f19{
    background: url(../imgs/filmes/19.webp) center bottom;
}
#f20{
    background: url(../imgs/filmes/20.jpg) center bottom;
}
#f21{
    background: url(../imgs/filmes/21.jpg) center bottom;
}
#f22{
    background: url(../imgs/filmes/22.jpg) center bottom;
}
#f23{
    background: url(../imgs/filmes/23.jpg) center top;
}
#f24{
    background: url(../imgs/filmes/24.webp) center top;
}
#f25{
    background: url(../imgs/filmes/25.jpg) center bottom;
}
#f26{
    background: url(../imgs/filmes/26.webp) center top;
}
#f27{
    background: url(../imgs/filmes/27.jpg) center bottom;
}
#f28{
    background: url(../imgs/filmes/28.jpg) center top;
}
#f29{
    background: url(../imgs/filmes/29.webp) center bottom;
}
#f30{
    background: url(../imgs/filmes/30.webp) center top;
}
